header {
  background-color: #bb5432;
  color: #fff;
  padding: 2rem;
  height:10rem;
  left:0px;
  right:0px;
  padding: 2rem;
  h1 {
    font-weight: 700;
    font-size: 2rem;
    margin: 1rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}
